{% extends 'base.html' %}

{% block title %}
Страница о нас
{% endblock %}

{% block body %}
<center><h1>О нас</h1></center>

<p>Сам Илон Маск будет говорить: “зачем мне Марс? Если есть ЭТО!”</p>
<p>Моргенштерн захочет быть рекламным лицом данного проекта!</p>
<p>Но кто такие эти ваши “Моргенштерны” и “Илоны Маски”? Если у нас в команде есть люди по круче их!</p>

<center><h5>Немного знакомства с нашей командой!</h5></center>
<p>Генеральный директор: <b>Евгений Федоров</b></p>
<p>Главный бухгалтер (Нет это не Людмила): <b>Павел Драгни</b></p>
<p>Senior – разработчики (На ком держится все на этом сайте): <b>Ольга Аухадиева, Анастасия Плешкова</b></p>
<p>Middle – разработчики: <b>Сергей Агапов, Максимов Максим</b></p>
<p>Junior – разработчик (Проходит стажировку): <b>Кузькин Илья</b></p>

<center><h5>Теперь немного о каждом!</h5></center>

<p><b>Федоров Евгений (Генеральный директор)</b> – Одним словом лидер!
<br>Всегда поддерживает и всегда делится своим опытом со всеми коллегами! <br>Не один совет не проходит без участия этого
    замечательного человека!
    <br>Когда мир был на грани развала и кризиса, этот мир спасла Его коронная фраза <b>“Не переживайте, все будет хорошо!”</b></p>

<p><b>Павел Драгни (Финансист)</b> – <b>«Только не бухгалтер»</b> с такими словами он всегда говорит, когда речь идет о нем!
    <br>С этих пор называем Его <b>ФИНАНСИСТ.</b>
Павел по мимо проекта много чем еще увлекается. Например: Есть, спать (особенно спать), таскать шкафы ну и подрабатывать!
    <br>Является специалистом по сборке ПК! Не знаю как это влияет на проект но все же!</p>

<p><b>Ольга Аухадиева (Senior – разработчик)</b>– Один из кремней команды!<br>Всегда найдет выход из любой ситуации! Она уже два раза удаляла сайт чтобы кнопка “Регистрация” заработала!
    <br>Ее не стандартный подход всегда заставлял вздрогнуть, но после слов Евгения <b>“Не бойтесь все будет хорошо”</b>, Ольга все - таки делала свое дело, и все было хорошо!</p>

<p><b>Анастасия Плешкова (Senior – разработчик)</b> – Она второй кремень в команде!
    <br>Если она начинает судорожно говорить, это значит что надо подойти к ней и подбодрить!
    <br>Но это случается крайне редко! Факт: <b>“у нее есть маленький каратист, имейте ввиду”</b> так говорит Евгений когда до нее докапываются Джуны и Мидлы!</p>

<p><b>Максимов Максим (Middle – разработчик)</b> – Максим в прошлом был связан с военной темой!
    <br>И мы до сих пор думаем что он под прикрытием! Собран, сдержан, весел, прагматичен! Напишем о нем по военному!</p>

<p><b>Сергей Агапов (Middle – разработчик)</b> – <b>«Сергей наш врач!»</b> Так говорил Евгений когда предупреждал о маленьком каратисте Анастасии!
<br>Сергей долго работал в лаборатории, но когда у него начал расти 6 палец на правой руке, он понял что пора что то менять.
    <br>И вот он у нас! Кстати 6 палец только кстати, быстрее всех печатает на клавиатуре!</p>

<p><b>Кузькин Илья (Junior – разработчик)</b> – Он просто держится из последних сил чтобы пройти стажировку!<br> Чтобы остаться в этой замечательной команде!

{% endblock %}