{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<center><h2>Главная страница</h2></center>
<center><h3>О чем этот сайт?</h3></center>

<p>Команда энтузиастов пока еще не смогли определится что это будет за сайт!
Но они уверенны что он будет чем-то невероятно крутым!</p>

<center><h4>И так начнем все по порядку.</h4></center>
<p>Ребята готовы делать этот сайт лишь для одной причины:</p>
<p>Во - первых чтобы ваша жизнь, жизнь простого гражданина республики НАША ЗЕМЛЯ, облегчила себе жизнь при работе на этом сайте!</p>
<p>Во – вторых после того как вы зайдете на этот сайт и углубитесь в него, вы поймете что нет нечего невозможного
    в этой жизни!</p>


{% endblock %}